
body {
  background-color: #fdf4f8;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 40px; 
  margin: 20px auto;
  border-radius: 10px;
  width: 90%; 
  max-width: 800px; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}


.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="search"] {
  background-color: #fdf4f8;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  width: 250px;
  border-radius: 5px;
  outline: none;
}

input[type="submit"] {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkviolet;
}


.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weather-app-city {
  font-size: 30px;
  font-weight: 900;
}

.weather-app-details {
  color: lightgray;
  font-size: 16px;
}

.weather-app-details strong {
  color: pink;
  font-weight: bold;
}

.weather-app-temperature-container {
  display: flex;
  align-items: baseline; 
}

.weather-app-temperature {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.weather-app-unit {
  font-size: 28px;
  vertical-align: top;
}

.weather-app-icon {
  width: 50px;
  vertical-align: middle;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-forecast-day {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-forecast-icon {
  width: 40px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather-forecast-temperature {
  font-size: 14px;
}

.weather-forecast-temperature strong {
  font-size: 16px;
  color: pink; 
}

.weather-app-details strong {
  color: pink;
  font-weight: bold;
}
.custom-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0; 
}